.project
.classpath

bin/
target/
tmp/
.settings/
.DS_Store*
.metadata
Thumbs.db

### Gradle ###
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

hs_err_*.log
replay_*.log

~*.*
*.~*
test-output
.idea/
out/
