<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated network -->
      <package
            uri="hu.bme.mit.mba.tests.model.emf.network"
            class="hu.bme.mit.mba.tests.model.emf.network.NetworkPackage"
            genModel="model/network.genmodel"/>
   </extension>

</plugin>
