<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="Test">
        <classes>
            <class
                name="hu.bme.mit.mba.ga.tests.ClusteringCoefficientTest"/>
            <class name="hu.bme.mit.mba.ga.tests.GraphMetricTest"/>
            <class name="hu.bme.mit.mba.ga.tests.NumberOfNodesTest"/>
            <class name="hu.bme.mit.mba.ga.tests.NumberOfEdgesTest"/>
            <class
                name="hu.bme.mit.mba.ga.tests.TypeActivityTest"/>
            <class name="hu.bme.mit.mba.ga.tests.NodeActivityTest"/>
            <class
                name="hu.bme.mit.mba.ga.tests.MultiplexParticipationCoefficientTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
